---
layout: page
---

<div class="wrapper app" data-grid="spacing">

    <div data-cell="1of2">
        <img src="{{ site.baseurl }}/img/lorempixel.jpg" alt="Art placeholder" class="picture">
    </div>

    <div data-cell="1of2">
        <header class="title"></header>
        <section class="question"></section>
        <section class="options" data-grid="column spacing"></section>
        <footer>
            <div class="feedback"></div>
            <div class="controls"></div>
        </footer>
    </div>

</div>

{{ content }}

<script>
window.imgFolder = '{{ page.img_folder }}';
window.quiz = {{ page.quiz | jsonify }};
</script>